<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<title>Marmara Uni Web Scrape</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<style>
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        <img src="https://upload.wikimedia.org/wikipedia/tr/7/70/Marmara_%C3%9Cniversitesi_logo.png" width="200px"/>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a th:href="@{/}" class="w3-button w3-block w3-white w3-left-align">Main Page</a>
        <a onclick="scrapeFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="scrapeButton">
            Scrape Data <i class="fa fa-caret-down"></i>
        </a>
        <div id="scrapeAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a th:href="@{/scrapeIMDBPage}" class="w3-bar-item w3-button">IMDB Film Scrape</a>
            <a th:href="@{/scrapeWikiPage}" class="w3-bar-item w3-button">Wikipedia Film Scrape</a>
        </div>
        <a onclick="filmListFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="filmButton">
            Film List <i class="fa fa-caret-down"></i>
        </a>
        <div id="filmAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a th:href="@{/IMDBFilmList}" class="w3-bar-item w3-button">IMDB Film List</a>
            <a th:href="@{/WikiFilmList}" class="w3-bar-item w3-button">Wikipedia Film List</a>
            <a th:href="@{/film}" class="w3-bar-item w3-button">Find Film</a>
        </div>
    </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header her sayfa için değişik -->
    <header class="w3-container w3-xlarge">
        <p class="w3-center">Main Page</p>
    </header>

    <!-- DATA -->
    <div align="center">Marmara Üniversitesi Almanca İşletme Enformatiği bölümü için hazırlanmış Web Scrape Uygulamasına
        Hoş Geldiniz.</div>
    <div align="center">Yapmanız Gerekenler:</div>
    <div align="center"> IMDB ve Wikipedia üzerinden dataları Web Scrape Yöntemi ile çekiniz. Soldaki <b>Scrape Data</b> sekmesinden halledebilirsiniz</div>

    <!-- Footer -->

    <div class="w3-white w3-center w3-padding-24">Created by <a href="https://www.linkedin.com/in/yunus-emre-asil-a521a2170/" title="Yunus Emre ASIL" target="_blank" class="w3-hover-opacity">Yunus Emre ASIL</a></div>

    <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<script>

    $(document).ready( function () {
        $('#filmTable').DataTable();
    });

    // Accordion
    function filmListFunc() {
        var x = document.getElementById("filmAcc");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function scrapeFunc() {
        var x = document.getElementById("scrapeAcc");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // Click on the "Jeans" link on page load to open the accordion for demo purposes
    document.getElementById("filmButton").click();
    document.getElementById("scrapeButton").click();


    // Open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
